.form {
  color: white;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 70vh;
  width: 100%;
  overflow: hidden; }
  .form .title {
    margin-bottom: 20px; }
  .form .desc {
    font-size: 12px;
    font-weight: lighter;
    opacity: 0.7; }
  .form .input-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%; }
    .form .input-container .label {
      width: 100%; }
    .form .input-container .input {
      width: 95%;
      height: 40px;
      border-radius: 5px;
      border: 0; }
    .form .input-container .input2 {
      width: 97.5%;
      height: 40px;
      border-radius: 5px;
      border: 0; }
  .form .button {
    height: 45px;
    background-color: rgba(201, 160, 153, 0);
    padding: 10px;
    color: white;
    border: 2px solid white;
    font-size: 15px;
    font-weight: bold;
    width: 98%; }

@media (min-width: 50px) and (max-width: 550px) {
  .form .input-container .input {
    width: 90%; } }
